<!DOCTYPE html>
<html>
<head>
    <title>Forma</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/css/forma.css">
</head>
    <body>
        <div>
            <div class="container">
                <div class="login">
                    <form class="">
                        <span class="login-title">Форма добавления игры</span>

                        <div class="wrap validate-input" data-validate="Введите название">
                            <input class="input" placeholder="Название игры" required></div>

                        <div class="wrap validate-input" data-validate="Введите компанию">
                            <input class="input" placeholder="Компания" required></div>

                        <div class="wrap validate-input" data-validate="Введите жанр">
                            <input class="input" placeholder="Жанр игры" required></div>

                        <div class="wrap validate-input" data-validate="Введите дату выхода">
                            <input class="input" placeholder="Дата выхода" required></div>

                        <div class="wrap validate-input" data-validate="Введите платформу игры">
                            <input class="input" placeholder="Платформa игры" required></div>

                        <div class="wrap validate-input" data-validate="Введите размер">
                            <input class="input" placeholder="Размер игры" required></div>

                        <div class="sumbit">
                            <button class="login-form">Внести данные</button></div>
                    </form>
                </div>
            </div>
        </div>
        <script src="static/js/forma.js"></script>
    </body>
</html>
